*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    width: 90vw;
    height: 5vh;
    margin: 100px auto 100px;
    display: block;

}

button{
    background-color: rgb(50, 119, 255);
    border: none;
    font-weight: bold;
    color: white;
    font-style: 25px;
    letter-spacing: 5px;
    border-radius: 20px;
}

section{
    width: 100vw;
    min-height: 400px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

div{
    position: relative;
    background-image: url("paper.jpg");
    background-size: cover;
    overflow: hidden;
    width: 90vw;
    height: 600px;
    margin-top: 20px;
    border-radius: 5px;
}

h2{
    background-color: rgb(182, 182, 182);
    font-size: 32px;   
    text-align: center;
    box-shadow: 0px 5px 3px rgba(0, 0, 0, 0.603);
}

p{
    font-size: 19px;
    position: absolute;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

strong{
    font-weight: bolder;
}